<?xml version="1.0"?>
<configuration debug="false">

    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <param name="File" value="util.log"/>
        <param name="Append" value="true"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="file"/>
    </root>

</configuration>
